<main class="row container">
    <section class="col-9 col-push-3">
        <div class="content-heading">
            <div class="heading">HEADING 1</div>
            <div class="sub-heading">heading 2</div>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis turpis id tortor tincidunt sodales. Praesent rutrum augue eu porttitor congue. Curabitur ullamcorper quis nisl ut tempor. Quisque interdum eu ipsum a tincidunt. Quisque iaculis viverra elit sed hendrerit. Morbi volutpat semper purus quis vestibulum. Curabitur vestibulum metus at neque placerat, quis bibendum libero cursus. Ut vel nunc eget dolor egestas porttitor. Fusce aliquam vitae sapien sit amet porta. Donec tristique ex sed malesuada eleifend.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis turpis id tortor tincidunt sodales. Praesent rutrum augue eu porttitor congue. Curabitur ullamcorper quis nisl ut tempor. Quisque interdum eu ipsum a tincidunt. Quisque iaculis viverra elit sed hendrerit. Morbi volutpat semper purus quis vestibulum. Curabitur vestibulum metus at neque placerat, quis bibendum libero cursus. Ut vel nunc eget dolor egestas porttitor. Fusce aliquam vitae sapien sit amet porta. Donec tristique ex sed malesuada eleifend.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis turpis id tortor tincidunt sodales. Praesent rutrum augue eu porttitor congue. Curabitur ullamcorper quis nisl ut tempor. Quisque interdum eu ipsum a tincidunt. Quisque iaculis viverra elit sed hendrerit. Morbi volutpat semper purus quis vestibulum.
            </p>
        </div>

        <app-image-gallery [imageList]="imageList"></app-image-gallery>
    </section>
    
    <aside class="side-nav col-3 col-pull-9">
        <app-side-nav></app-side-nav>
    </aside>
</main>