<header class="header">
    <a href="" class="logo">
        <img src="../assets/images/leaselabs_logo_fullstack_rgb.png" alt="leaselabs-logo">
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>

    <ul class="menu">
        <li><a href="#">HOME</a></li>
        <li><a href="#">OUR WORK</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li class="menu-item-static"><a href="#">SPECIALS</a></li>
    </ul>
</header>

<main class="row container">
    <section class="col-9 col-push-3">
        <div class="content-heading">
            <div class="heading">HEADING 1</div>
            <div class="sub-heading">heading 2</div>
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis turpis id tortor tincidunt sodales. Praesent rutrum augue eu porttitor congue. Curabitur ullamcorper quis nisl ut tempor. Quisque interdum eu ipsum a tincidunt. Quisque iaculis viverra elit sed hendrerit. Morbi volutpat semper purus quis vestibulum. Curabitur vestibulum metus at neque placerat, quis bibendum libero cursus. Ut vel nunc eget dolor egestas porttitor. Fusce aliquam vitae sapien sit amet porta. Donec tristique ex sed malesuada eleifend.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis turpis id tortor tincidunt sodales. Praesent rutrum augue eu porttitor congue. Curabitur ullamcorper quis nisl ut tempor. Quisque interdum eu ipsum a tincidunt. Quisque iaculis viverra elit sed hendrerit. Morbi volutpat semper purus quis vestibulum. Curabitur vestibulum metus at neque placerat, quis bibendum libero cursus. Ut vel nunc eget dolor egestas porttitor. Fusce aliquam vitae sapien sit amet porta. Donec tristique ex sed malesuada eleifend.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis turpis id tortor tincidunt sodales. Praesent rutrum augue eu porttitor congue. Curabitur ullamcorper quis nisl ut tempor. Quisque interdum eu ipsum a tincidunt. Quisque iaculis viverra elit sed hendrerit. Morbi volutpat semper purus quis vestibulum.
            </p>
        </div>

        <div class="gallery">
            <span class="col-4 image-wrap" *ngFor="let image of imageList">
                <img [src]="'../assets/' + image.path" alt="">
            </span>
        </div>
    </section>
    
    <aside class="side-nav col-3 col-pull-9">
        <div class="side-group">
            <span class="side-header">
                <label>SUBNAV</label>
            </span>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="side-group">
            <span class="side-header">
                <label>RELATED LINKS</label>
            </span>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
    </aside>
</main>