// header
.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: max-content;
    z-index: 3;
    border-bottom: 1px solid #c5c5c5;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    background-color: #fff;
  
    /* menu */
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    li a {
        display: block;
        padding: 20px 20px;
        
        &:hover {
            color: #01a7e1;
        }
    }

    .logo {
        display: block;
        float: left;
        padding: 1.4em;
        text-decoration: none;

        img {
            height: 4em;
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        padding: 0 1em;
        transition: max-height .2s ease-out;

        .menu-item-static {
            background: #01a7e1;
            color: #fff;
            
            a, a:hover {
                color: #fff;
            }
        }
    }

    // menu-icon
    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 3.5em 2em;
        position: relative;
        user-select: none;
    }

    .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        
        &:before,
        &:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        &:before {
            top: 5px;
        }

        &:after {
            top: -5px;
        }
    }
  
    /* menu btn */
    .menu-btn {
        display: none;

        &:checked ~ .menu {
            max-height: 80vh;
            // overflow-y: auto;
        }
        
        &:checked ~ .menu-icon .navicon {
            background: transparent;
        }
        
        &:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
        }
        
        &:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
        }
        
        &:checked ~ .menu-icon .navicon:before,
        &:checked ~ .menu-icon .navicon:after {
            top: 0;
        }

        &:checked ~ .menu {
            padding: 0 1em 1em;
        }
    }
}  

// main
.container {
    margin: 0 2em;
    padding-top: 10em;
    
    section {
        border: 1px solid #e4e2e3;
        border-top: none;
        border-bottom: 6px solid rgb(228 226 227 / 52%);
        padding: 0 2em;
        box-shadow: 0px 1px 2px 1px rgb(130 130 130 / 10%);
    }

    section,
    aside {
        margin-bottom: 2em;
    }
    
    .heading {
        font-size: 20px;
        font-weight: bold;
        color: #01a7e1;
    }

    .sub-heading {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        text-indent: 1em;
    }
}

// side-nav
.side-nav {
    .side-group {}

    .side-header {
        display: block;
        position: relative;
        padding: 1em;
        background: #e4e2e3;
        border-radius: 10px;
        font-weight: bold;

        &:after {
            content: "";
            position: absolute;
            top: 35px;
            right: 10px;
            border-top: 8px solid #e4e2e3;
            border-bottom: 8px solid transparent;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }
    }

    ul {
        padding-left: 1em;
    }

    li:before {
        content: "\2022";
        color: #00a7dd;
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
        width: .5em;
        vertical-align: middle;
    }
}

// article 
p {
    line-height: 1.4;
}

// gallery
.gallery {
    display: flex;
    flex-flow: column;

    .image-wrap {
        padding: 0;
        margin: 1em 0;
    }

    span {
        border: 1px solid #62c8ed;
    }

    img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}





// For screens higher than 768px  
@media screen and (min-width: 768px) {
    .header {
        li {
            float: left;
        }

        li a {
            padding: 3em 1.5em;
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
            margin-right: 2em;
            padding: 0 !important;
            overflow: unset;

            .menu-item-static {
                transform: skew(-20deg);
                
                margin-left: 2em;
    
                a {
                    transform: skew(20deg);
                    color: #fff;
                }
            }
        }

        .menu-icon {
            display: none;
        }
    }

    .section {
        padding-left: 2em;
        padding-right: 0;
        border-left: 1px solid #e4e2e3;
    }

    aside {
        padding-left: 0;
        padding-right: 2em;
    }

    .gallery {
        flex-flow: unset;

        .image-wrap {
            margin: 1em;
            
            &:first-child{
                margin-left: .5em;
            }
            
            &:last-child {
                margin-right: .5em;
            }
        }

        img {
            height: 150px;
        }
    }
}