<div class="side-nav">
    <div class="side-group">
        <span class="side-header">
            <label>SUBNAV</label>
        </span>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </div>
    <div class="side-group">
        <span class="side-header">
            <label>RELATED LINKS</label>
        </span>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </div>
</div>