<header class="header">
    <a href="" class="logo">
        <img src="../../assets/img/leaselabs_logo_fullstack_rgb.png" alt="leaselabs-logo">
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>

    <ul class="menu">
        <li><a href="#">HOME</a></li>
        <li><a href="#">OUR WORK</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">CONTACT US</a></li>
        <li class="menu-item-static"><a href="#">SPECIALS</a></li>
    </ul>
</header>